.c3 {
    position: absolute;
    margin-top: -383px;
    color: blue;
    font-size: 50px;
    line-height: 70px;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.c4 {
    position: absolute;
    margin-top: -183px;
    color: aqua;
    font-family: trebuchet 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}